<div class="forgot-password-wrapper">
  <div class="forgot-password-container">
    <h2>Forgot Password</h2>

    <!-- Step 1: Enter Email/Phone -->
    <div *ngIf="step === 1">
      <form [formGroup]="otpForm" (ngSubmit)="sendOtp()">
        <div class="form-group">
          <label>Email or Phone</label>
          <input type="text" formControlName="emailOrPhone" placeholder="Enter email or phone" />
          <div class="error" *ngIf="otpForm.get('emailOrPhone')?.errors && otpForm.get('emailOrPhone')?.touched">
            Email or phone is required
          </div>
        </div>
        <button type="submit" class="btn">Send OTP</button>
        <button [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn">Back to Login</button>
      </form>
    </div>

    <!-- Step 2: Enter OTP -->
    <div *ngIf="step === 2">
      <p class="otp-text">Enter OTP sent to your email/phone</p>
      <div class="otp-inputs">
        <input maxlength="1" (input)="moveNext($event, 0)" #otp0>
        <input maxlength="1" (input)="moveNext($event, 1)" #otp1>
        <input maxlength="1" (input)="moveNext($event, 2)" #otp2>
        <input maxlength="1" (input)="moveNext($event, 3)" #otp3>
      </div>
      <button class="btn" (click)="verifyOtpFromBoxes(otp0.value + otp1.value + otp2.value + otp3.value)">Verify
        OTP</button>
    </div>

    <!-- Step 3: New Password -->
    <div *ngIf="step === 3">
      <form [formGroup]="passwordForm" (ngSubmit)="submitNewPassword()">
        <div class="form-group">
          <label>User Id</label>
          <input type="number" formControlName="id" placeholder="Enter User ID" />
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" formControlName="newPassword" placeholder="Enter new password" />
          <div class="error" *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
            Password is required
          </div>
          <div class="error" *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
            Minimum 6 characters
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm password" />
          <div class="error" *ngIf="passwordForm.errors?.['mismatch']">
            Passwords do not match
          </div>
        </div>

        <button type="submit" class="btn">Submit</button>
        <button [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn">Back to Login</button>
      </form>
    </div>
  </div>
</div>